<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
		<span class="bigger-120">
			<span class="blue bolder">FutureICT 2.0 - </span>
			Brading Project &copy; 2018 - <?php echo date("Y"); ?>
		</span>

            &nbsp; &nbsp;
        </div>
    </div>
</div>