<script type="text/javascript">
    try {
        ace.settings.check('navbar', 'fixed')
    } catch (e) {
    }
</script>

<div class="navbar-container" id="navbar-container">
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
        <span class="sr-only">Toggle sidebar</span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>
    </button>

    <div class="navbar-header pull-left">
        <a href="index.php" class="navbar-brand">
            <small>
                <i class="fa fa-barcode red"></i>
                FutureICT 2.0 -Brading Project
            </small>
        </a>
    </div>

    <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">

            <li class="light-blue">
                <a data-toggle="dropdown" href="blank.html#" class="dropdown-toggle">
                    <img class="nav-user-photo" src="dist/avatars/user.jpg"
                         alt="<? echo $_SESSION['username']; ?> Photo"/>
					<span class="user-info">
						<small>Welcome,</small>
                        <?php echo $_SESSION["username"] ?>
					</span>

                    <i class="ace-icon fa fa-caret-down"></i>
                </a>

                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                    <li class="divider"></li>

                    <li>
                        <a href="logout.php">
                            <i class="ace-icon fa fa-power-off"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div><!-- /.navbar-container -->